#window{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
}
#name{
    left: 40%;
    /*right: 0;*/
    margin: auto;
    position: absolute;
    font-size: 400%;
    color: #40ffe2;
}

#bigBox{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 500px;
    height: 500px;
    border: 2px solid white;
}

#box1{
    left: 1.5%;
    top: 1.5%;
    margin: auto;
    width: 30%;
    height: 30%;
    border: 1px solid white;
    position: absolute;
}

#box2{
    left: 35%;
    top: 1.5%;
    margin: auto;
    width: 30%;
    height: 30%;
    border: 1px solid white;
    position: absolute;
}

#box3{
    right: 1.5%;
    top: 1.5%;
    margin: auto;
    width: 30%;
    height: 30%;
    border: 1px solid white;
    position: absolute;
}

#box4{
    left: 1.5%;
    top: 35%;
    margin: auto;
    width: 30%;
    height: 30%;
    border: 1px solid white;
    position: absolute;
}

#box5{
    left: 35%;
    top: 35%;
    margin: auto;
    width: 30%;
    height: 30%;
    border: 1px solid white;
    position: absolute;
}

#box6{
    right: 1.5%;
    top: 35%;
    margin: auto;
    width: 30%;
    height: 30%;
    border: 1px solid white;
    position: absolute;
}

#box7{
    left: 1.5%;
    bottom: 1.5%;
    margin: auto;
    width: 30%;
    height: 30%;
    border: 1px solid white;
    position: absolute;
}

#box8{
    left: 35%;
    bottom: 1.5%;
    margin: auto;
    width: 30%;
    height: 30%;
    position: absolute;
    border: 1px solid white;
}

#box9{
    right: 1.5%;
    bottom: 1.5%;
    margin: auto;
    width: 30%;
    height: 30%;
    position: absolute;
    border: 1px solid white;
}
