body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #093bb8;
}
#pic{
    height:350px;
    width: 400px;
    left: 50px;
    top: 100px;
    position: absolute;
}
#title {
    height: 150px;
    width: 500px;
}

#board {
    width: 450px;
    height: 450px;
    background-color: #dbe0e1;
    border: 10px solid #093bb8;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 148px;
    height: 148px;
    border: 1px solid #093bb8;
}